/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  
  font-family: var(--base-font, 'Inter-Variable'), 'Arial', sans-serif;
  font-variation-settings: 'wght' var(--base-font-content, 410);
  line-height: 21px;
  color: var(--content-color, #000);
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--content-color);
  

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-block: 98px;
  padding-top: clamp(7.5rem, 6.7788rem + 3.0769vw, 8.125rem);
  padding-bottom: clamp(7.5rem, 6.7788rem + 3.0769vw, 8.125rem);
}

.width_content {
  width: clamp(379px, 260.56px + 30.52vw, 704px);
}

.card.width_content {
  width: clamp(379px, 260.56px + 30.52vw, 700px);
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  margin-block-end: 20px;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

/* Main */

.main {
  display: grid;
  gap: 50px;
  margin-block-end: 50px;
}

.card {
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--content-color);

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card__title {
  font-family: var(--base-font, 'Inter-Variable'), 'Arial', sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--base-font-title, 715);
  line-height: 100%;
  padding-block: 6px;
  padding-inline: 10px;
}

.card__image {
  position: relative;
  border-top: 2px solid var(--content-color);
}

.card__image-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-label {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow: 
  -1px 0 var(--label-color),
  0 1px var(--label-color),
  1px 0 var(--label-color),
  0 -1px var(--label-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--label-color)) or (-webkit-text-stroke: 1px var(--label-color))) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
  }
}

.card__description {
  border-block-start: 2px solid var(--content-color);
  padding: 25px;
  font-size: var(--main-font-size);
}

.card__description p:not(:last-of-type) {
  margin-block-end: 25px;
}

/* Like block */

.card__like-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 0 0;
  margin-block-end: 23px;
  gap: 6px;
  align-items: center;
}

.button {
  position: relative;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.contour {
  fill: var(--heart-contour, #000);
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-property: fill;
  transition-timing-function: linear;
}

.core {
  fill: transparent;
  transition-duration: 0.3s;
  transition-delay: 0.03s;
  transition-property: fill;
  transition-timing-function: linear;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-property: fill;
  transition-timing-function: linear;
}

.like-icon {
   transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  background-color: var(--bg-color);
  border: 2px solid var(--content-color);

  inline-size: 130px;
  block-size: 38px;

  cursor: pointer;

  box-shadow: 2px 2px 0 transparent;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--content-color);
}

.button_hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--content-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button_hover:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  color: var(--bg-color, #fff);
  font-size: 14px;
  line-height: 90%;
  z-index: 1;
  mix-blend-mode: difference;
}

.like-icon.is-liked {
  animation: heartScale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparksShow 0.3s 0.3s ease-in 1 alternate;
}

.footer {
  margin-block-end: 100px;
}

/* Filter img */

.filter_saturate {
  filter: saturate(20%);
}

.filter_invert {
  filter: invert(100%);
}

.filter_sepia {
	filter: sepia(100%);
}

.filter_huerotate {
  filter: hue-rotate(234deg);
}

.filter_grayscale {
  filter: grayscale(90%);
}

.filter_blur {
  filter: blur(5px)
}

.filter_more {
  filter: hue-rotate(90deg) opacity(0.7);
}


.footer__save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 19px;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--content-color);
}

.floppy {
  block-size: 21px;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

/* PopUp */

.popup {
  position: fixed;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid var(--content-color);
  background-color: var(--bg-color);
  padding: 30px;

  max-width: 357px;
  min-height: 193px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}



.popup__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.popup__floppy {
  block-size: 39px;
  inline-size: 39px;
  flex-shrink: 0;
}

.popup__content-text {
  color: var(--content-color);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  }

  .popup__form {
    width: 100%;
  }

.popup__button-exit {
  background-color: var(--bg-color);
  border: 2px solid var(--content-color);
  inline-size: 100%;
  padding-block: 12.5px;
  cursor: pointer;
  box-shadow: 2px 2px 0 transparent;
  transition: box-shadow 0.3s ease;

  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
}

@media (width <= 375px) {

  .footer__save-button {
    flex-direction: column;
  }

  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }
}