/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --base-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --base-font-content: 410;
    --base-font-title: 715;
    --main-font-size: 18px;
    --page-bg: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
    --bg-color: #fff;
    --label-color: #fff;
    --content-color: #000;
    --heart-contour: #000;
    --heart-color: #FF0000;
}

